.site-title{
color:#349cd2;
}
.ep-topbar{
	background-color:#349cd2;
}
.slider-text .slider-link i {
	background-color:#349cd2;
}
.ep-theme-color{
	background-color:#349cd2;
}
.ep-title {
    border-bottom: 2px solid #349cd2;
}
.team-title a {
	color:#349cd2;
}
.ep-testimony .site-url{
	color:#349cd2;
}
.ep-subcribe .news-link {
    background-color: #349cd2;
}
.ep-call .purchase-link ,
.ep-call .view-link {
		border:2px solid #349cd2;
		color:#349cd2;
}
.ep-call .purchase-link:hover ,
.ep-call .view-link:hover {
	background-color:#349cd2;
}
.ep-blog-author li i{
	color:#349cd2;
}
.entry-title a{
	color:#349cd2;
}
.blog-link{
	border:2px solid #349cd2;
	color:#349cd2;
}
.blog-link:hover{
	background-color:#349cd2;
}
.widget ul li:before {
	color:#349cd2;
}
.widget ul li a:hover {
   color:#349cd2;
}
#wp-calendar caption{
 background-color:#349cd2;
}
#wp-calendar td a{ 
color:#349cd2;
}
#wp-calendar tfoot{ 
border-top:2px solid #349cd2;
}
.contact-info li i {
    background-color: #349cd2;
}
.ep-copyright a{
	color: #349cd2;
}
.portfolio-sorting li a:hover{
	 background-color: #349cd2;
	border:2px solid #349cd2;
}
.ep-breadcum-page li a{
color:#349cd2;
}
.ep-blog-tags li i{
color:#349cd2;
}
.ep-blog-tags li a:hover{
	background-color: #349cd2;
	color: #fff;
}
.pager .previous a,
.pager .next a{
	border:2px solid #349cd2;
	color:#349cd2;
}
.pager .previous a:hover,
.pager .next a:hover{
	background-color:#349cd2;
}
.sidebar-widget .widget h2{
	border-bottom: 2px solid #349cd2;
}
.sidebar-widget .widget ul li a:hover {
    color: #349cd2;
}
.widget .more-link {
    background-color: #349cd2;
}
.bp-comment-form .comment-link {
    background-color: #349cd2;
}
.comments-text a{
	color: #349cd2;
} 
.wp-caption-text {
    background-color: #349cd2;
}
.contact-link{
	background-color: #349cd2;
}
.contact-title span,
.contact-page-detail span {
    border-bottom: 2px solid #349cd2;
}
.contact-info p i{
	color: #349cd2;
}
.contact-info h4{
	color: #349cd2;
}
.info-contact a{
	color: #349cd2;
}
.ep-skill-text h2{
	border-bottom: 2px solid #349cd2;
}

.error-link,
.error-link:hover{
	background-color:#349cd2;
	color:#fff;
}
.notfound-title i{ 
color: #349cd2;
}
.widget .input-group-btn .btn-search {
  background-color: #349cd2;
}
.ep-team-detail .team-social li a {
    color: #349cd2;
    border: 2px solid #349cd2;
}
.port-abt-detail li i{
	 color: #349cd2;
	 border: 2px solid #349cd2;
}
.port-abt-detail li a{
	 color: #349cd2;
}
.project-link{
	color: #349cd2;
	border: 2px solid #349cd2;
}
.ep-theme{
	color: #349cd2;
}
.ep-theme:hover{
	background-color: #349cd2;
	color: #fff;
}
.ep-port-masanary  .ep-port-author a{
	color: #349cd2;
}
.event-date li i{
	color: #349cd2;
}
.ep-accordion-type1 .btn {
	border: 1px solid #349cd2;
}
.ep-accordion-type1 .btn span{
	background-color: #349cd2;
}
.ep-accordion-type1 .btn.collapsed span{
	color: #349cd2;
}
.ep-accordion-type1 .btn.collapsed::after {
	color: #349cd2;
}

.ep-accordion-type2 .btn {
	border: 1px solid #349cd2;
}
.ep-accordion-type2 .btn span{
	background-color: #349cd2;
}
.ep-panel-type .ep-theme-panel{
	background-color: #349cd2;
}
.ep-dropcaps-type2 .ep-cap {
	background-color: #349cd2;
}
.ep-dropcaps-type3 .ep-cap {
	background-color: #349cd2;
}
.ep-theme-bg{
	background-color: #349cd2;
}
.ep-tooltip:hover{
	color:#349cd2;
}
.ep-popover{
	border: 2px solid #349cd2;
}
.ep-popover:hover{
	background-color: #349cd2;	
}